## What is the URL of the saltstack fileserver. This should contain two folders, one called `salt` which holds all the states
## and one called `pillar` which holds all pillar data
GIT_URL=git@github.com:david-2000/salt-repo

## Private ssh key. This will be used to verify our identity when interacting with  the above github repository
PRIV_KEY=/root/.ssh/id_rsa

## Public ssh key. This key should be published to the repository so that it and the matching PRIV_KEY can be used to authenticate with the remote repo.
PUB_KEY=/root/.ssh/id_rsa.pub

## IP Address of the salt-master
MASTER_IP=10.0.2.4

## Script only works for RHEL 7 and 8
RHEL_VERSION=7

## Which version of Salt are we installing? At the time of writting this script, v3004 is the latest
SALT_VERSION=3004
